{% extends 'base_section.html' %}

{% block meta %} 
<title>{{ first_name }}'s Experience</title>
{% endblock meta %}
{% block section_id %}experience{% endblock section_id %}
{% block section_name %}experience{% endblock section_name %}

{% block section_content %}
{% include "components/command_typing.html" with text="$ cat experiences.log" %}
{% if experience_list %}
<p>My experiences so far.</p>
{% endif %}
<div class="mt-10 mb-10 flex flex-col gap-4">
    {% for experience in experience_list %}
    <div class="exp-card">
        <div class="exp-header">
            <p class="exp-title">{{ experience.title }}</p>
            <p class="exp-category">{{ experience.get_category_display }}</p>
        </div>
        <div class="exp-time">
            {% if experience.is_ongoing %}
            <p>{{ experience.started_at }} - Present</p>
            {% elif experience.is_blank_start %}
            <p>{{ experience.ended_at }}</p>
            {% else %}
            <p>{{ experience.started_at }} - {{ experience.ended_at }}</p>
            {% endif %}
        </div>
        <div class="exp-description"><p>{{ experience.description }}</p></div>
    </div>
    {% empty %}
    <p>No experiences have been added yet.</p>
    {% endfor %}
</div>
{% endblock section_content %}