<a href="{% url 'main:show_main' %}"
   class="{% if request.resolver_match.url_name == 'show_main' %}text-primary{% else %}hover:text-primary{% endif %}">/profile</a>
<a href="{% url 'main:show_experience' %}"
   class="{% if request.resolver_match.url_name == 'show_experience' %}text-primary{% else %}hover:text-primary{% endif %}">/experience</a>
<a href="{% url 'main:show_skill' %}"
   class="{% if request.resolver_match.url_name == 'show_skill' %}text-primary{% else %}hover:text-primary{% endif %}">/skill</a>
<a href="{% url 'main:show_project' %}"
   class="{% if request.resolver_match.url_name == 'show_project' %}text-primary{% else %}hover:text-primary{% endif %}">/project</a>